# Konfigurasi Telegram Bot
# Dapatkan token dari @BotFather di Telegram
TELEGRAM_TOKEN=ganti_dengan_token_bot_anda_disini

# Konfigurasi Hardware GPS
# Untuk Linux biasanya /dev/ttyUSB0 atau /dev/ttyACM0
# Untuk Windows biasanya COM3, COM4, dsb.
SERIAL_PORT=/dev/ttyUSB0
BAUDRATE=9600
